<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mubashir Café - The place of joy</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="responsive.css">
</head>
<body>
    <header id="headerofindex">
        <div id="toleft">
            <img src="resources/icon.png" alt="iconofcafe" width="10%" style="border-radius: 50%; width: 42px;">
            <h1 id="mainheading">Mubashir Café</h1>
        </div>
        <img src="resources/menuicon.webp" alt="" id="menu-icon">
       
        <nav  id="navofindex">
        <ul>
    <a href="/mainpage"><li>Home</li></a>
    <a href="/menu"> <li>Menu</li></a>
    <a href="/onlinereservation"><li>Online reservation</li></a>
    <a href="/contactus"> <li>Contact us</li></a>
</ul>
</nav>
<div id="navofindexmobile" class="displaynone">
      
        <ul class="navofindexmobile-ul">
    <a href="/mainpage"><li>Home</li></a>
    <a href="/menu"> <li>Menu</li></a>
    <a href="/onlinereservation"><li>Online reservation</li></a>
    <a href="/contactus"> <li>Contact us</li></a>
</ul>  
        
</div>
    </header>
    <main>

    <div id="container-of-herosection" class="container-center">
<img src="resources/herosectionimg.jpg" alt="A cup of coffee on a table in front of a street with a city lights in the background" id="herosection-img">
<span id="quote"></span>
<a href="/onlinereservation"><button type="button" id="herosection-button" >I want to be here ></button></a>
    </div>
    <h2 style="color: var(--primarycolor--);font-family: var(--primaryfont--); margin: 30px 2px;">Hot items</h2>
<div id="hot-items-container">
<div class="carditems" id="firsthotitem">
    <img src="resources/americano-coffee.jpg" alt="" class="card-img">
    <span class="card-disc">Our Cafe Americano is the perfect blend of strength and smoothness, designed to awaken your senses</span>
<span class="card-price">Price: 10$ </span>
</div>
<div class="carditems" id="secondthotitem">
    <img src="resources/flatwhite-coffee.jpg" alt="" class="card-img">
    <span class="card-disc">Experience the smooth and creamy perfection of our Flat White, made with rich espresso and velvety steamed milk</span>
<span class="card-price">Price: 20$ </span>
</div>
<div class="carditems" id="thirdhotitem">
    <img src="resources/iced-coffee.jpg" alt="" class="card-img">
    <span class="card-disc">Cool down with our refreshing Iced Coffee, brewed to perfection and chilled to give you that invigorating kick</span>
<span class="card-price">Price: 30$ </span>
</div>
</div>

<h2 style="color: var(--primarycolor--);font-family: var(--primaryfont--); margin: 30px 2px;">Key Features</h2>

<div id="keyfeatures-of-cafe-container">
    <section class="feature">
        <img src="resources/qualitypic.jpg" alt="Best Quality Ingredients" class="feature-img">
        <div class="feature-content">
          <h2>Best Quality Ingredients</h2>
          <p>We pride ourselves on using only the finest, freshest ingredients to create every cup and meal. Our coffee beans are carefully selected from top farms, and all our products are made with the highest quality local ingredients. Whether you're enjoying a cappuccino or a freshly baked pastry, you can taste the difference in every bite and sip.</p>
        </div>
      </section>
  
      <section class="feature">
        <img src="resources/calmpic.jpg" alt="Calm Environment" class="feature-img">
        <div class="feature-content">
          <h2>Calm Environment</h2>
          <p>Are you looking for a peaceful space to relax or work? At our cafe, we understand that finding a quiet spot to enjoy your coffee is essential. We’ve created a calm, distraction-free environment where you can unwind, concentrate, or simply enjoy your time. Whether you’re reading a book, catching up with friends, or just having a moment to yourself, our cafe offers the perfect atmosphere to suit your needs.</p>
        </div>
      </section>
  
      <section class="feature">
        <img src="resources/servicepic.jpg" alt="Attentive Service" class="feature-img">
        <div class="feature-content">
          <h2>Attentive Service</h2>
          <p>Our team is dedicated to providing the best customer experience. From the moment you step in, we ensure that your needs are met. We listen to your preferences, recommend our specialties, and make sure you feel welcomed and valued. Every visit to our cafe is about great coffee and even better service, ensuring you have a memorable experience every time.</p>
        </div>
      </section>
</div>
</main>

<footer>
    <span> &copy; All rights reserved to MuhammadMubashir</span>
    <a href="/adminlogin" title="Admin Login" id="adminicon">
      ⚙️
    </a>
</footer>
</body>
<script src="script.js"></script>

</html>