<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="responsive.css">
</head>
<body>
    <header id="headerofindex">
        <div id="toleft">
            <img src="resources/icon.png" alt="iconofcafe" width="10%" style="border-radius: 50%; width: 42px;">
            <h1 id="mainheading">Mubashir Café</h1>
        </div>
        <img src="resources/menuicon.webp" alt="" id="menu-icon">
       
        <nav  id="navofindex">
        <ul>
    <a href="/mainpage"><li>Home</li></a>
    <a href="/menu"> <li>Menu</li></a>
    <a href="/onlinereservation"><li>Online reservation</li></a>
    <a href="/contactus"> <li>Contact us</li></a>
</ul>
</nav>
<div id="navofindexmobile" class="displaynone">
      
        <ul class="navofindexmobile-ul">
    <a href="/mainpage"><li>Home</li></a>
    <a href="/menu"> <li>Menu</li></a>
    <a href="/onlinereservation"><li>Online reservation</li></a>
    <a href="/contactus"> <li>Contact us</li></a>
</ul>  
        
</div>
    </header>

    <main>
        <h2 style="color: var(--primarycolor--);font-family: var(--primaryfont--); margin-top: 10px; text-align: center; ">Our Delicious Menu Items</h2>

        <div id="filters-container">
<span id="filterspan"><img src="resources/filterpic.png" id="filterpic">Fliters</span>

<select name="mealType" id="mealType">
    <option value="" disabled selected>Select Meal Type</option>
    <option value="breakfast">Breakfast</option>
    <option value="lunch">Lunch</option>
    <option value="healthyfood">Dinner</option>
  </select>
  
  <select name="foodType" id="foodType">
    <option value="" disabled selected>Select Food Type</option>
    <option value="Pancakes">Pancakes</option>
<option value="Oatmeal">Oatmeal</option>
<option value="Toast">Toast</option>
<option value="Burrito">Burrito</option>
<option value="Smoothie">Smoothie</option>
<option value="Salad">Salad</option>
<option value="Sushi">Sushi</option>
<option value="Soup">Soup</option>
<option value="Burger">Burger</option>
<option value="Sandwich">Sandwich</option>
<option value="Pizza">Pizza</option>
<option value="Steak">Steak</option>
<option value="Curry">Curry</option>
<option value="Pasta">Pasta</option>
<option value="Tacos">Tacos</option>

 
  </select>
  
  
  
        </div>

    
        <div id="alldeals">
            


        </div>

    </main>
    <footer>
        <span> &copy; All rights reserved to MuhammadMubashir</span>
    </footer>
    <script src="menu.js"></script>
</body>
</html>